<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes - Soulib</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <a href="/home">&#9666; Home</a>
      <h1>Clientes</h1>
      <p>Lista de clientes.</p>
      <hr />
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Excluir</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <!-- Na tag que se repete aplique th:each -->
          <tr th:each="cliente : ${listaClientes}">
            <td>
              <a 
                th:href="'/clientes/'+${cliente.idCliente}" 
                th:text="${cliente.nome}">
              </a>
            </td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td><button>Excluir</button></td>
            <td><button>Editar</button></td>
          </tr>
        </tbody>
      </table>
      <!-- Formulário de Novo Cliente-->
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
