<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes - Soulib</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <a href="/home">&#9666; Home</a>
      <h1>Clientes</h1>
      <p>Lista de clientes.</p>
      <hr />
      <!-- Tabela de Clientes -->
      <!-- Formulário de Novo Cliente-->
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
